@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --primary: #ff9106;
    --primary-footer: #ff9106;
    --primary-hover: #965609;
    --secondary: #edfdfb;
    --pure: #fff;
    --dark: #232323;
    --gray: #b9bab8;
    --footer-line: #1a1a1a;
    --footer-back-color: #151515;
    --footer-color: #656565;
    --footer-background-color: #efefef;
    --smooth: all .3s ease-in-out;
}

footer {
    color: var(--pure);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    bottom: 0px;
    width: 100%;
    color: var(--footer-back-color);
    /* margin-top: 80px; */
    background: var(--footer-background-color);
}

.main-content {
    padding-top: 34px;
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: var(--footer-line);
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 45%;
    background: var(--primary);
    top: -10px;
}

.left .content p {
    text-align: justify;
    font-size: 1.2rem;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    font-size: 1.4rem;
    height: 40px;
    width: 40px;
    background: var(--primary-footer);
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: var(--smooth);
}

.left .content .social a span:hover {
    background: var(--primary-hover);
}

.left {
    margin-left: 50px;
    margin-right: 10px;
}

.center {
    margin-left: 50px;
}

.right {
    margin-right: 50px;
}

.bottom {
    margin-top: 40px;
}

.bottom span {
    font-size: 1.1rem;
    padding: 10px;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: var(--primary-footer);
    height: 45px;
    width: 45px;
    color: white;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: var(--smooth);
    cursor: pointer;
}

.center .content .fas:hover {
    background: var(--primary-hover);
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: var(--footer-color);
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.1rem;
    border: 0.25px solid var(--gray);
    background: var(--pure);
    padding-left: 10px;
    /* border: 1px solid #222222; */
}

.right form input:focus,
.right form textarea:focus {
    border: 1px solid var(--dark);
    box-shadow: 0 0 3px var(--dark);
    outline-offset: 0px;
    outline: none;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    color: var(--pure);
    outline: none;
    background: var(--primary-footer);
    font-size: 1.0625rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--smooth);
}

.right form .btn button:hover {
    transition: var(--smooth);
    background: var(--primary-hover);
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: var(--footer-back-color);
}

.bottom center span {
    color: var(--footer-color);
}

.bottom center a {
    color: var(--primary);
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}