// Colors
$primary: #ff9106;
$primary-hover: #af6407;
$secondary: #edfdfb;
$pure: #fff;
$dark:#232323;
$gray: #b9bab8;
$footer-line: #1a1a1a;
$footer-back-color: #151515;
$footer-color: #656565;
// Transistions
$smooth: all .3s ease-in-out;