@import './variables';
@import './modal';
@import './footer';
@import './loader';
@import './animation';
// @import './themes';
@import './orderStatus';
@import './scrollToTop';
@import './stripe';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: getColor(body-color);
    color: getColor(font-color);
}

h1,
h2,
h3 {
    color: getColor(font-color);
}

html {
    scroll-behavior: smooth;
    transition: -.3s ease-in-out;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1430px;
        margin-left: auto;
        margin-right: auto;
    }
}

nav li .last-child-a {
    background-color: getColor(primary);
    &:hover {
        background-color: getColor(primary-hover);
    }
}

nav li a {
    color: getColor(font-color);
    &:hover {
        color: getColor(primary);
        transition: all .3s ease-in-out;
    }
}

.logo {
    width: 180px;
    filter: invert(1);
    // width: 100px;
}

section.hero {
    // background-color: getColor(secondary);
    background-color: #fff9ef2d;
}

.hero-image {
    width: 90%;
    // opacity: 0.5;
    // width: 80%;
}

.card {
    // border: 2px solid black;
    // padding: 10px;
    // width: 320px;
    z-index: 2;
    background: #f3f3f30a;
    height: 460px;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    box-shadow: 0 4px 10px 2px rgba(3, 3, 3, 0.24);
}

.card-image img {
    border-top-right-radius: 1.25rem;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 1.25rem;
    width: 100%;
    height: 280px;
}

.card-image{
    overflow: hidden;
}

.card-image img:hover{
    transform: scale(1.1);
}

.star-rating i {
    color: getColor(star-color);
    font-size: 1.5em;
}

.star-rating i:hover {
    transition: all .3s ease-in;
    text-shadow: 
    0em 0em 3em #f47221a9,
    1px 1px 5px #f47221a9,
    0px 0px 10px #f47221a9,
    0px 0px 25px #f47221a9,
    0px 0px 45px #f47221a9,
    -1px 0px 2px rgba(0, 0, 0, .1);
}

section.comments {
    background: getColor(secondary);
}

.comment-box {
    min-height: 98vh;
}

.size {
    background-color: getColor(secondary);
    // color: #000;
}

.add-to-cart {
    border: 2px solid getColor(primary-add);
    color: getColor(primary-add);
    transition: all .3s ease-in-out;
    &:hover {
        // background: getColor(primary);
        background: getColor(primary-add-hover);
        border-color: getColor(pure);
        color: getColor(pure);
    }
}

.cart-icon img{
    filter: invert(1);
}

.btn-primary {
    outline: none;
    background-color: getColor(primary);
    transition: all .3s ease-in-out;
    &:hover {
        outline: none;
        background: getColor(primary-hover);
        transition: all .3s ease-in-out;
    }
}

section.cart {
    background-color: getColor(secondary);
    .amount {
        color: getColor(primary);
    }
}

section.login {
    background-color: getColor(secondary);
    min-height: 90vh;
    form{
        background-color: #0b0b0b99;
    }
    a {
        color: getColor(primary);
        &:hover {
            color: getColor(primary-hover);
        }
    }
}

section.orders {
    background-color: getColor(secondary);
    min-height: 90vh;
}

table {
    background-color: getColor(table-back);
    border-radius: 12px;
}

table th {
    background-color: #0000007d;
}

.start-head {
    border-top-left-radius: 12px;
}

.start-end {
    border-top-right-radius: 12px;
}

table td {
    border: none;
    border-bottom: 0.5px solid #86868688;
}


.empty-cart-text-2 {
    color: #ffffff96;
}

.cart-row {
    background-color: #0000007d;
    padding-right: 14px;
    border-radius: 8px;
}

footer input {
    background: getColor(table-back);
    border: 0.5px solid #86868688;
    color: getColor(font-color);
    border-radius: 8px;
}

.auth-input input {
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: #000;
    background: #ffffffe8;
}

.modal-input {
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: #000;
    background: #ffffffe8;
}

.modal-container{
    // background-color: #0b0b0b99;
    form {
        background-color: #0b0b0bbf;
    }
}

.cart-data-input{
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background: white;
    border-radius: 8px;
}

.cart-image img{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

}

.items-name-primary {
    color: getColor(primary);
}

.payment-type-select,
.order-status-select {
    background: #fff;
    border-radius: 8px;
    color: #000;
}

section.register {
    background-color: getColor(secondary);
    min-height: 30vh;
    form {
        background-color: #0b0b0b99;
    }
    a {
        color: getColor(primary);
        &:hover {
            color: getColor(primary-hover);
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 40px!important;
}

.noty_theme__mint.noty_bar .noty_body {
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
}

.noty_theme__mint.noty_type__success {
    background-color: #000000d1;
    color: #fff;
    font-size: 23px;
    border-bottom: 1.2px solid black;
}

a.link {
    color: getColor(primary);
}

section.status {
    background-color: getColor(secondary);
    min-height: calc(100vh - 86px);
}

// 404 EROR
.error-main {
    background-color: getColor(secondary);
    min-height: 600px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 919.9999999998px) {
    .hamburger-navbar {
        display: none;
    }
}

@media screen and (max-width: 919.9999999999px) {
    .default-navbar,
    .default-ul {
        display: none;
    }

    .menu-wrap {
        // position: fixed;
        border-radius: 50%;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .menu-wrap .toggler {
        position: absolute;
        top: 38px;
        right: 48px;
        z-index: 11;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger {
        border-radius: 540%;
        position: sticky;
        top: 25px;
        right: 0;
        z-index: 10;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: getColor(primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: getColor(pure); // Lines
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .menu-wrap .hamburger>div::before,
    .menu-wrap .hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 9;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    .menu-wrap .hamburger>div:after {
        top: 10px;
    }
    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }
    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }
    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 0.75s;
    }
    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        z-index: 8;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .menu>div {
        background: rgba(54, 70, 97, 0.85);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        transform: scale(0);
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu>div>div>ul {
        display: flex;
        flex-direction: column;
    }
    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .menu-wrap .menu>div>div>ul>li>a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    .menu-wrap .menu>div>div>ul>li>a:hover {
        color: inherit;
        transform: scale(1);
        box-shadow: none;
    }
}

@media(max-width: 590px) {
    .cart-button li {
        margin-left: 0rem;
    }
    .menu-wrap .toggler {
        right: 36px;
    }
}

@media(max-width: 765px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
    .card {
        height: 500px;
    }
    .card-image img {
        height: 320px;
    }
}

@media(max-width: 520px) {
    .menu-wrap .toggler {
        right: 24px;
    }
}