@import './variables';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

html {
    scroll-behavior: smooth;
    transition: -.3s ease-in-out;
}

#loading {
    height: 100vh;
    width: 100%;
    background: #fff;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1430px;
        margin-left: auto;
        margin-right: auto;
    }
}

nav li .last-child-a {
    background-color: $primary;
    &:hover {
        background-color: $primary-hover;
    }
}

nav li a {
    &:hover {
        color: $primary;
        transition: $smooth;
    }
}

section.hero {
    background-color: $secondary;
}

.size {
    background-color: $secondary;
}

// *{
//     background-color: black;
// }
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.cart-button {
    margin-right: -23px;
}

.btn-primary {
    background-color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background-color: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background-color: $secondary;
    min-height: 70vh;
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

section.orders {
    min-height: 90vh;
}

section.register {
    background-color: $secondary;
    min-height: 30vh;
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 80px!important;
}

a.link {
    color: $primary;
}

section.status {
    background-color: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 60px 0 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
    box-shadow: 0 0 1px 10px $secondary;
}

.status-box ul li span:before {
    content: '\f46c';
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

.status-box ul li:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    background: $dark;
    width: 2px;
    height: 100%;
    margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 1px 20px $secondary;
}

.status-box ul li.step-completed:before {
    background: $gray;
}

.status-box ul li.step-completed span:after {
    background: $gray;
}

.status-box ul li.step-completed span {
    color: $gray;
}

.status-box ul li.current span:after {
    background: $primary;
}

.status-box ul li.current span {
    color: $primary;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 0px;
}

.error-main {
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-element {
    border: 1px solid #0000006b;
}

.card {
    // border: 2px solid black;
    // padding: 10px;
    height: 380px;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.152);
}

.card:hover {
    transform: scale(1.029);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.card-image img {
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    width: -webkit-fill-available;
    height: 200px;
}

.comment-box {
    min-height: 98vh;
}

.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width: 765px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
    .card {
        height: 500px;
    }
    .card-image img {
        height: 320px;
    }
}

@media (min-width: 700.5px) {
    .hamburger-navbar {
        display: none;
    }
    .cart-button {
        display: none;
    }
}

@media screen and (max-width: 701px) {
    .default-navbar,
    .default-ul {
        display: none;
    }
    .cart-button {
        margin-right: -180px;
    }
    .menu-wrap {
        // position: fixed;
        border-radius: 50%;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .menu-wrap .toggler {
        position: absolute;
        top: 21px;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger {
        position: absolute;
        border-radius: 540%;
        top: 34px;
        right: 0;
        margin-right: 15px;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff; // Lines
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .menu-wrap .hamburger>div::before,
    .menu-wrap .hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    .menu-wrap .hamburger>div:after {
        top: 10px;
    }
    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }
    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }
    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 0.75s;
    }
    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .menu>div {
        background: rgba(54, 70, 97, 0.85);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        transform: scale(0);
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu>div>div>ul {
        display: flex;
        flex-direction: column;
    }
    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .menu-wrap .menu>div>div>ul>li>a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    .menu-wrap .menu>div>div>ul>li>a:hover {
        color: inherit;
        transform: scale(1);
        box-shadow: none;
    }
}

@media(max-width: 590px) {
    .cart-button {
        margin-right: -100px;
    }
    .cart-button li {
        margin-left: 0rem;
    }
}

@media(max-width: 480px) {
    .cart-button {
        margin-right: -40px;
    }
}

@media(max-width: 360px) {
    .cart-button {
        margin-right: 0px;
    }
}

// Loader